
.navbar {
    min-height: 100px;
    font-size: 25px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-brand > img {
    height: 60px;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #BFFACF;
    color: #7A7A7A;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', serif;
}
