{% extends "base2.html" %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <h2>{% if recipe %}Edit Recipe: {{ recipe.name }}{% else %}Add New Recipe{% endif %}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
</div>
{% endblock %}